<div class="main-chat">

<%# 投稿内容 %>
  <div class="main-chat-body-index">
    <div class='item-contents'>
        <% @posts.each do |post| %>
          <div class='list'>
            <%= link_to post_path(post.id), class:"linktag", method: :get do %>
              <% if post.image %>
              <div class='item-img-content'>
                <%= image_tag post.image, class: "item-img" %>
                <%# <%= post.image.inspect%> 
              </div>
              <% end %>

              <div class='items'>
                <h3 class='item-name'>
                  <%= post.post_title %>
                </h3>
                <div class='item-info'>
                  <%= post.post_info %>
                </div>
                <div class="date">
                  <%=l post.created_at %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
  <%# 投稿内容 %>


</div>
