<div class="main-chat">

<%# 投稿内容 %>
  <div class="main-chat-body">
    <div class='item-contents'>
        <% @posts.each do |post| %>
          <div class='list'>
            <%= link_to post_path(post.id), class:"linktag", method: :get do %>
              <% if post.image %>
              <div class='item-img-content'>
                <%= image_tag post.image, class: "item-img" %>
                <%# <%= post.image.inspect%> 
              </div>
              <% end %>

              <div class='items'>
                <h3 class='item-name'>
                  <%= post.post_title %>
                </h3>
                <div class='item-info'>
                  <%= post.post_info %>
                </div>
                <div class="date">
                  <%=l post.created_at, format: :short %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
  <%# 投稿内容 %>
  <% if @room%>
    <%# フッター %>
    <div class="main-chat-footer">
      <div class="chat-footer-left">
          <%= @room.name %>
           （members:
          <% @users.each do |user| %>
           <%= user.name %> 
        <% end %>）
      </div>
      <div class="chat-footer-right">
        <%= link_to "タグごと消す", room_path(@room), method: :delete %>
        <%= link_to "投稿する", new_room_post_path(@room) %>
      </div>
    </div> 
    <%# フッター %>
  <% end %>
</div>