<%# <%= render "shared/header" %>

 <div class= "show-all">
  <div class="post-img-content">
      <%= image_tag @post.image ,class:"post-box-img" %>
  </div>
  <h2 class="show-title">
      <%= @post.post_title %>
  </h2>
  <h2 class="show-info">
      <%= @post.post_info %>
  </h2>

  <%# コメントコメントボックス %>
    <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <%# コメントボックス %>

  <%# 編集/削除 %>
  <div>
    <% if user_signed_in? && current_user.id == @post.user_id %>
    <%= link_to "メモの編集", edit_post_path, method: :get, class: "post-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", post_path, method: :delete, class:"post-destroy" %>
    <% end %>
  </div>
</div>



   


