<%# <%= render "shared/header" %>

 <%# <div class= "show-all"> %>
  <div class="post-img-content">
      <%= image_tag @post.image ,class:"post-box-img" %>
  </div>
  <div class="show-title">
      <%= @post.post_title %>
  </div>
  <div class="show-info">
      <%= @post.post_info %>
  <%# </div> %>


  <%# コメントコメントボックス %>
    <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <button type="submit" class="comment-btn">
        <span>コメントする<span>
      </button>
    </form>
  </div>
      <%# <%=link_to 'もどる', room_posts_path(@room_id), class:"back-btn" %>

  <%# 編集/削除 %>
  <div class="edit-tab">
    <% if user_signed_in? && current_user.id == @post.user_id %>
    <%= link_to "メモの編集", edit_post_path, method: :get, class: "post-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", post_path, method: :delete, class:"post-destroy" %>
    <% end %>
  </div>
</div>



   


